.container {
    padding: 0 15px;
}

.mobile-menu {
    display: block;
    float: right;
    background: transparent;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 42px;
    margin-bottom: 0.5em
}

h2 {
    font-size: 24px;
    margin-bottom: 0.5em
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 15px;
}

.span-head {
    color: #333;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}

ul,
ol,
p,
span,
a {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    line-height: 1.5;
    margin: 0.5em 0 1em;
    font-size: 15px;
}

a {
    outline: none
}

.btn-primary {
    color: #fff;
    background-color: #215ca0;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    max-width: 170px;
    width: 100%;
    -webkit-transition: ease-in-out 0.10s;
    transition: ease-in-out 0.10s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #032e61;
}

span.date {
    margin-bottom: 1em;
    display: block;
}

.nav-link {
    display: block;
    padding: .5rem 1rem 0.5rem 0;
}

section.row {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #d0d0d0;
}

section.row:nth-child(1) {
    padding-top: 0;
}

.pad-right {
    padding: 0 30px;
}

#speakers img {
    float: left;
    border-radius: 50%;
    margin-right: 15px;
    max-width: 125px;
    width: 100%;
}

.speakers-details {
    margin-bottom: 1.5em;
}

#speakers span {
    font-size: 0.85em;
    display: block;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    max-width: 96%;
    margin: 0 auto;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-info {
    margin-top: 2em;
}

.map-info span {
    display: block;
    margin-bottom: 0.25em;
}

.pad20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 989px) {
    #speakers .col-lg-6 {
        margin-bottom: 2em;
    }
}


/* Creates a vertical nav starting at 768px (sm) */

@media (min-width: 768px) {
    .left-side {
        background: rgba(250, 250, 250, 1);
    }
    .bootstrap-vertical-nav {
        position: fixed
    }
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .span-head {
        display: none;
    }
    h1 {
        font-size: 27px;
    }
    .span-head {
        font-size: 27px;
    }
    ul,
    ol,
    p,
    span,
    a {
        color: #666;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1em;
    }
    .bootstrap-vertical-nav {
        max-width: 100%;
        position: fixed;
        z-index: 4;
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        margin-top: 20px;
        background: rgba(250, 250, 250, 1);
        padding: 0 15px;
        border-bottom: 1px solid #ddd;
    }
    .fixed-top {
        background: rgba(250, 250, 250, 1);
        border: 0;
        border-radius: 0;
    }
    section.row {
        padding-top: 2em;
        padding-bottom: 1.5em;
    }
}

@media (max-width: 640px) {
    .map-info h2 br {
        display: none;
    }
}

@media (max-width: 500px) {}
